@model Reservation

<h2>Thank you, @Model.Customer.FirstName!</h2>
<p class="text-center">
    Your reservation for bike @Model.BikeId has been requested.
    An email has been sent to <em>@Model.Customer.EmailAddress</em>
</p>
<p>
    <a asp-controller="Home">Reserve More Bikes!</a>
</p>