@model IEnumerable<Bike>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Bike Rental Agency!</h1>
    <h2 class="text-center">Currently available bikes: </h2>

    @if(Model.Any())
    {
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Bike Style</th>
                <th scope="col">Electric Motor</th>
                <th scope="col">All Terrain Suspension</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Bike bike in Model)
        {
        <tr>
            <th scope="row"><a class="btn btn-outline-success text-success rounded-pill">Reserve</a></th>
            <td><h4>@bike.BikeStyle</h4></td>
            <td><h4>@bike.ElectricMotor</h4></td>
            <td><h4>@bike.AllTerrainSuspension</h4></td>
            <td><h4>@bike.Available</h4></td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <h3 class="text-center">No bikes available, go away please</h3>
    }
</div>
