@model Reservation
@{ 
    string message;
    if (Model.DateDue < DateTime.Now)
    {
        message = "We apologize, this bike seems to be late! Please check back soon. (╯°□°）╯︵ ┻━┻";
    }
    else
    {
        message = $"Please check back {Model.DateDue.ToShortDateString()} ⏰";
    }
}

<p>@message</p>