@model Reservation

@if (Model?.DateDue < DateTime.Now)
{
<p>
    We apologize, this bike seems to be late!
    <br />
    Please check back soon. (╯°□°）╯︵ ┻━┻
</p>
}
else
{
<p>
    Please check back after <em>@Model?.DateDue.ToShortDateString()</em> ⏱
</p>
}